.bg-success, .btn-success{
    background-color: #06c7ad !important;
}
 .btn{
      border: none !important;
      outline: none !important;
      box-shadow: none !important;
  }
.nav-link{
    color: #ffffff !important;
    
}

small{
    font-size: small;
    color: rgb(114, 114, 114);
}

i{
    cursor: pointer;
}

.bg-green{
    background-color: #d7fffa !important;
}

